.ms-options-wrap,
.ms-options-wrap * {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin-bottom: 0px;
}

.ms-options-wrap > button:focus,
.ms-options-wrap > button {
    position: relative;
    width: 100%;
    text-align: left;
    border: 1px solid #ced4da;
    background-color: #fff;
    padding: 5px 20px 5px 15px;
    margin-top: 0px;
    font-size: 17px;
    color: #bfbfbf;
    outline: none;
    white-space: nowrap;
    height: 70px;
    border-left: 0px;
    width: 230px;
}

.ms-options-wrap > button:after {
    content: ' ';
    height: 9px;
    position: absolute;
    top: 50%;
    right: 15px;
    width: 18px;
    border-top-color: #999;
    margin-top: -3px;
    background: url("../images/chev-down.png");
}

.ms-options-wrap > button img {margin-right: 15px;}

.ms-options-wrap > .ms-options {
    position: absolute;
    left: -1px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    background: #ffffff;
    z-index: 2000;
    border: 0px solid #00000000;
    text-align:left;
    border-top: 0px;
    max-height: fit-content !important;
    box-shadow: 1px 3px 10px 0px #00000021;
}

.ms-options-wrap > .ms-options > .ms-search input {
    width: 100%;
    padding: 4px 5px;
    border: none;
    border-bottom: 1px groove;
    outline: none;
}

.ms-options-wrap > .ms-options .ms-selectall {
    display: inline-block;
    font-size: .9em;
    text-transform: lowercase;
    text-decoration: none;
}
.ms-options-wrap > .ms-options .ms-selectall:hover {
    text-decoration: underline;
}

.ms-options-wrap > .ms-options > .ms-selectall.global {
    margin: 4px 5px;
}

.ms-options-wrap > .ms-options > ul > li.optgroup {
    padding: 5px;
}
.ms-options-wrap > .ms-options > ul > li.optgroup + li.optgroup {
    border-top: 1px solid #aaa;
}

.ms-options-wrap > .ms-options > ul > li.optgroup .label {
    display: block;
    padding: 5px 0 0 0;
    font-weight: bold;
}

.ms-options-wrap > .ms-options > ul label {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 7px 12px !important;
    margin: 0px 0;
    font-size:14px;
    transition-duration:0.3s;
    cursor: pointer;
}

.ms-options-wrap > .ms-options > ul li.selected label {
    background-color: #212529;
    color: #fff;
}

.ms-options-wrap > .ms-options > ul label:hover{
    background-color: #efefef57;
}

.ms-options-wrap > .ms-options > ul input[type="checkbox"] {
    margin-right: 5px;
    position: absolute;
    left: 4px;
    top: 12px;
    display: none;
}