@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

body{
	font-family: 'Poppins', sans-serif;
}

.back-to-top {
    position: fixed;
    z-index: 999;
    right: 15px;
    bottom: 15px;
    padding: 10px 15px;
    background: #ff3800;
    display: none;
    cursor: pointer;
}

.btn-cust{
    min-width: 96px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #ff3800;
    color: #ff3800;
    transition-duration: 0.4s;
    text-decoration: none;
}

.btn-cust.btn-cust-filled,.btn-cust:hover{
	color: #fff;
	border:2px solid #ff3800;
	background-color: #ff3800;
	text-decoration:none; 
}


.btn-cust-filled:hover{	
	background-color:transparent;
	color: #ff3800;
}



.btn-cust-lg{
    min-width: 96px;
    font-size: 24px;
    border-radius: 5px;
    border: 2px solid #ff3800;
    color: #ff3800;
    transition-duration: 0.4s;
    text-decoration: none;
    line-height: 0;
    padding:6px 15px;
}

.btn-cust-lg.btn-cust-filled-lg,.btn-cust-lg:hover{
	color: #fff;
	border:2px solid #ff3800;
	background-color: #ff3800;
	text-decoration:none; 
}

.btn-cust-filled-lg:hover{	
	background-color:transparent;
	color: #ff3800;
}



.btn-cust-green-lg{
    min-width: 96px;
    font-size: 24px;
    border-radius: 5px;
    border: 2px solid #39b54a;
    color: #39b54a;
    transition-duration: 0.4s;
    text-decoration: none;
    line-height: 0;
    padding:6px 15px;
}


.btn-cust-green-lg.btn-cust-green-filled-lg,.btn-cust-green-lg:hover{
	color: #fff;
	border:2px solid #39b54a;
	background-color: #39b54a;
	text-decoration:none; 
}

.btn-cust-green-filled-lg:hover{	
	background-color:transparent;
	color: #39b54a;
}





.section-heading {
    font-weight: 700;
    font-size: 36px;
    position: relative;
}

.heading {
    font-weight: 700;
    font-size: 30px;
    position: relative;
    line-height: 48px;
}



.small-heading{
    font-size: 23.25px;
	font-weight: 600;
	color: #ff3800;
}

.small-heading.text-black{
	color: #000;
}

.section-heading:after {
    content: " ";
    position: absolute;
    height: 4px;
    background: red;
    bottom: -12px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 256px;
    border-radius: 5px;
}


.section-heading-no-b:after{	
    content: "";
    display: none;
}

.para{
	font-size: 21px;
	font-weight: 400;
}


.para-2{
	font-size: 17.44px;
	line-height:23.25px;
	font-weight: 300;
}

header{
    box-shadow: 3px 0px 3px 1px #00000040;
}

section{
	padding-top: 100px;
	padding-bottom: 100px;
	overflow: hidden;
	position: relative;
}

section.section-dark{
	background-color: #f2f2f2;
}

section.p80{
	padding-top: 80px;
	padding-bottom: 80px;
	overflow: hidden;
	position: relative;
}

section.p50{
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: hidden;
	position: relative;
}


section.p60{
	padding-top: 60px;
	padding-bottom: 60px;
	overflow: hidden;
	position: relative;
}

nav{
	padding: 8px 0px;
}

nav .logo{
	height: 84px;
}

nav ul{
	list-style-type: none;
}


.banner-slider{
	height: 100vh;
	min-height: 700px;
	position: relative;
}


.banner-slider.banner-slider-inner{
    height: 60vh;
    min-height: 400px;
}

.banner-slider-track {
    position: absolute;
    width: 100%;
    height: calc(100% - 100px);
    background: #000000;
}

.banner-slider-track .slide{
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: none;
}

.banner-slider-track .slide.active{
	display: block;
}



.banner-slider-content{
	height: calc(100% - 100px);
}



.banner-slider.banner-slider-inner{
    height: calc(60vh - 100px);
    min-height: 400px;
}

.banner-slider.banner-slider-inner .banner-slider-track {
    position: absolute;
    width: 100%;
    height: calc(100%);
    background: #000000;
}


.banner-slider.banner-slider-inner .banner-slider-content{
	height: calc(100%);
}




.banner-slider-content .banner-content-inner{
	padding: 32px 36px;
	background-color: #00000059;
	border-radius: 5px;
}

.banner-slider-content .banner-content-inner .heading{
	font-size: 40px;
	font-weight: 700;
}


.banner-slider-content .banner-content-inner .sub-heading{
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 32px;
}


.banner-slider-content .banner-content-inner input{
	font-size: 24px;
	height: 73px;
	border-color: #fff;
}

.banner-slider-content .banner-content-inner input::placeholder{
	color:#bfbfbf;
}

.banner-slider-content .banner-content-inner input:focus {
    outline: none;
    box-shadow: none;
    border-color: #fff;
}


.banner-slider-content .banner-content-inner .btn-search{
	background-color: #ff3800;
	color: #fff;
	padding-left: 53px;
	padding-right: 53px;
	font-size: 24px;
}


.banner-slider-content .banner-content-inner .input-group-text{
	border-color: #fff;
}



.banner-slider-content ul.dots {
    list-style: none;
}

.banner-slider-content ul.dots .dot {
	height:20px;
	width:20px;
	background-color: #ff3800;
	display: block;
	margin: 0px 5px;
	border-radius: 50%;
	border: 2px solid #ff3800;
	transition-duration: 0.4s;
	cursor: pointer;
}

.banner-slider-content ul.dots .dot.active,
.banner-slider-content ul.dots .dot:hover {    
	background-color: #fff;
}


.banner-slider-content .dots-col{
	position: absolute;
	bottom: 50px;
}


.intro-box .row{
	border-radius: 5px;
    box-shadow: 1px 0px 6px 1px #00000029;
}

.intro-box .box-left{
	-ms-flex: 0 0 45%;
	flex: 0 0 45%;
	max-width: 45%;
}

.intro-box .box-left img{
	position: absolute;
    bottom: 0px;
}

.intro-box .box-right{
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.slider .slide {
    margin: 6px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 0px 6px 1px #00000029;
}

.slider .slide-image {
    max-height: 208px;
    overflow: hidden;
}

.slider .slide-image img{
	margin: 0 auto; 
}

.slider .slide .small-heading{
	margin: 0px !important;
	padding: 20px 25px;
	display: block;
	position: relative;
	transition-duration: 0.4s;
}

.slider .slide:hover .small-heading{
	text-decoration:none;
    padding-left: 35px; 
}

.slider .slide:hover .small-heading:after{
	right:25px;
}
.slider .slide .small-heading:after{
	 content:url('../images/chev-right.png');
	 position:absolute;
	 right:20px;
	 transition-duration: 0.4s;
}

.slider .slick-prev, .slider .slick-next {
    background: #fff;
    box-shadow: 1px 0px 6px 1px #00000029;
    height: 45px;
    width: 45px;
    z-index: 99;
    border-radius: 50%;
    opacity: 0.4;
}

.slider .slick-prev:hover,
.slider .slick-next:hover{
	opacity: 1;
}

.slider .slick-next:before {
    content: url(../images/chev-right-slider.png);
    margin-left: 5px;
}


.slider .slick-prev:before {
    content: url(../images/chev-left-slider.png);
}

.cta .row{
	border-radius: 5px;
    box-shadow: 1px 0px 6px 1px #00000029;
}

.text-btn {
    color: #ff3800;
    font-size: 24px;
    transition-duration: 0.4s;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}

.text-btn:hover {
    color: #ff3800;
    text-decoration: none;
    border-color: #ff3800;
}



footer{
	padding-top: 50px;
	padding-bottom: 0px;
	overflow: hidden;
	position: relative;
	background-color: #ff3800;
}

footer ul {
    padding: 0px;
    list-style: none;
    color: #fff;
}

footer ul li{
    font-size:16px;
    font-weight:600;
}


footer ul li a{
    font-weight:400;
    color:#e6e7e8;
    line-height:36px;
    transition-duration:0.4s;
}

footer ul li a:hover{
    color:#fff;
}

footer hr {
    border-top: 2px solid #ffe1d9;
}


.bottom-bar p{
	color: #fff;
    font-size:16px;
	font-weight: 500;
}

.social-media li{
    margin-right:10px
}



.resturant-list-item {
    box-shadow: 1px 0px 6px 1px #00000029;
    margin: 0px 10px 26px 0px;
    transition-duration: .2s;
}

.resturant-list-item:hover {
    box-shadow: 1px 0px 6px 1px #00000047;
}

.resturant-list-item .resturant-banner {
    height: 274px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}


.resturant-list-item .resturant-banner .left-badge {
    font-size: 30px;
    font-weight: 600;
    padding: 7px 16px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #ff3800;
    color: #fff;
    text-align: center;
    height: max-content;
}


.resturant-list-item .resturant-banner .right-badge {
    font-size: 30px;
    font-weight: 600;
    padding: 7px 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #39b54a;
    color: #fff;
    text-align: center;
    height: max-content;
}

.resturant-list-item .content {
    padding-bottom: 40px;
    margin-top: -78px;
}

.resturant-list-item .logo-wrapper {
    display: flex;
    justify-content: center;
}

.resturant-list-item .logo {
    box-shadow: 1px 0px 6px 1px #00000029;
    border-radius: 5px;
    background: #fff;
    height: 158px;
    width: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.resturant-list-item .food-cat {
    padding: 0px 7rem;
}
.resturant-list-item .food-info{
    padding: 0px 5rem;
    list-style: none;
}


.resturant-list-item ul li a {
    color: inherit;
}

.resturant-list-item .food-info li {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 17px;
}

.resturant-list-item .food-info li b {font-weight: 500;}

.resturant-list-item .food-info li img{
    margin-right: 5px;
}
.resturant-list-item .food-info li span {
    margin-top: 4px;
}

.resturant-list-item a{
	color: inherit;
}


.resturant-list-item a:hover{
	text-decoration: none;
}

.filter .input-group-text {
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 0px;
    border-right: 0px;
    padding: 0px 20px;
}

.filter input[type=text]{
	height: 70px;
	border-radius: 0;
	border-left: 0px;
	padding-left: 0px;
}

.filter input[type=text]::placeholder{
	color:#bfbfbf;
    font-size: 17px;
    color: #bfbfbf;
    font-weight: 300;	
}


.filter input[type=text]:focus {
    color: inherit;
    background-color:inherit;
    border-color: #ced4da;
    outline: inherit;
    box-shadow: inherit;
}